version: '3.8'

services:
  app:
    image: 'jc21/nginx-proxy-manager:latest'
    container_name: nginx-proxy-manager
    restart: unless-stopped
    ports: 
      - '80:80'
      - '81:81'
      - '443:443'
    volumes:
      - data:/data
      - certs:/etc/letsencrypt

  golinks:
    image: prologic/golinks:latest
    container_name: golinks
    restart: unless-stopped
    expose:
      - "8080"
    volumes:
      - golinks_data:/db
    environment:
      - BIND=:8080

volumes:
  data:
  certs:
  golinks_data: