services:
  app:
    image: 'jc21/nginx-proxy-manager:latest'
    restart: unless-stopped
    pull_policy: always
    ports: 
      - '80:80'
      - '81:81'
      - '443:443'
    volumes:
      - data:/data
      - certs:/etc/letsencrypt
    command: sleep 60
    networks:
      - proxy-tier

networks:
  proxy-tier:
    name: proxy-tier  # This makes the network "discoverable" by other stacks
    driver: bridge

volumes:
  data:
  certs:
